body{
    font-family:'Palatino',monospace;
    text-align: center;
    margin-top; 10%;
    background color: #E14B96
}
.message{
    font-size: 30px;
    color:#E14B96
}
.yes, .no{
    border: none;
    font-family:'';
    width: 100px;
    height: 100px;
    border-radius: 5px;
}